@include component("form") {
	@include element("section") {
		width: 100%;
		max-width: 560px;
		margin: 0 auto;
		padding: 0 14px 0 14px;
		@include for-size(desktop-only) {
			margin: 0;
			padding: 0;
			max-width: 100%;
		}

		@include modifier("customer-info") {
			padding-top: 3px;
		}

		@include modifier("shipping-address") {
			padding-top: 13px;

			@include for-size(tablet-only) {
				margin-bottom: 0;
				padding-top: 27px;
			}
		}

		@include modifier("shipping-address-info") {
			padding-top: 21px;

			@include for-size(desktop-only) {
				padding-top: 0;
			}
		}

		@include modifier("shipping-method") {
			padding-top: 38px;
		}

		@include modifier("credit-card") {
			float: left;
			width: 100%;
			display: block;
			padding: 16px 0 10px;
		}

		@include modifier("payment-method") {
			padding-top: 38px;
		}

		@include modifier("billing-address") {
			padding-top: 21px;

			@include for-size(desktop-only) {
				padding-top: 42px;
			}
		}
	}

	@include element("section-header") {
		font-size: $font-size-lg;
		color: $gray-700;
		margin-bottom: 14px;

		@include for-size(tablet-only) {
			margin-bottom: 21px;
		}

		@include modifier("with-sub") {
			margin-bottom: 4px;
		}
	}

	@include element("section-header-sub") {
		color: $gray-300;
		margin-bottom: 14px;

		@include for-size(tablet-only) {
			margin-bottom: 21px;
		}
	}

	@include element("section-fieldset") {
		margin: -6px;
		display: block;
	}
}
